/.env
/.env.backup
/.env.production
/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/.phpunit.cache
/.vite
/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/devniox.sql
